@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;
font-family: "Poppins", sans-serif;
}
body{
    overflow: hidden;
}
header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    position: relative;
}

.cabeçalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
}
.cabeçalho-link a{
    color:black;
}

.cabeçalho-link a:hover{
    color: white;
    transition: 0.3s;
}

button{
    color: black;
    background:  transparent;
    border: solid 1px black;
    padding: 5px;
    border-radius: 15px;
    width: 150px;
    cursor: pointer;
}

button:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}
.container-text{
    padding: 150px 0 0 130px;
}

.text h3{
    font-size: 15px;
}

.text h1{
    margin-top: 10px;
}

.text span{
    color: grey;
}

.text p{
    font-weight: 300;
    margin-top: 10px;
}

header {
    background-color: #78cece;
    padding: 25px 0;
    text-align: center;
}


footer{
    position: absolute;
    background-color: #179999;
    color: white;
    padding: 15px;
    text-align: center;
    bottom: 0px;
    width: 100%;
    height: 13%;
}

#footer_social_media{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: white;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i{
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover{
    opacity: 0.7;
}

#whatsapp{
background-color: #25d366;
}

#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: #179999;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}


.centralizar{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #fff 15%, #179999 100%);
}

form{
    width: 350px;
    height: 45%;
    border-radius: 3px;
    background-color: white;
    padding: 20px;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

form h1{
    font-size: 22px;
    margin-bottom: 20px;
}

form .area-input{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
position: relative;
height: 35px;
margin-bottom: 20px;
}

form .area-input label{
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 12px;
    transform: translateY(-100%);
}

form .area-input input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 2px;
    border-bottom: 2px solid #179999;
    outline: none;
}

form .area-input textarea{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 2px;
    border-bottom: 2px solid #179999;
    resize: none;
    outline: none;
    transition: all 0.5s;
}

form button{
    margin-top: 50px;
    width: 100%;
    height: 45px;
    transition: all 1s;
}

/*Página do Obrigado*/

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #fff 15%, #179999 100%);
    flex-direction: column;
}

.text-obrigado{
    font-size: 45px;
    color: white;
    margin-bottom: 30px;
}

.paragrafo{
    color: rgb(255, 255, 255);
    margin-bottom: 9px;
}

.bnt{
    color: black;
    background: transparent;
    border: solid 1px black;
    padding: 5px;
    border-radius: 15px;
    width: 60px;
}

.bnt:hover{
    border-radius: 16px;
    background-color: black;
    color: white;
}

.text-2{
    width: 40%;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
}





